/* app css stylesheet */

.menu {
  /*list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;*/
  position:fixed;
  left:33%;
  margin-top:23%;
  max-width:33%;
  height:auto;
  max-height:60%;
  width:50%;
  background-color:grey;
  text-align:center;
  clear:left;
  border-radius:10px;
}

.headerimg {
	position:fixed;
	width:80%;
	margin-left:10%;
	float:left;
}
/*.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}*/

.background {
	background-color:#457bb5;
	min-height:100%;
	height:auto;
	min-width:100%;
	width:100%;
	top:0;
	left:0;
	position:fixed;
}

input {
	text-align:center;
}

.btn {
	width:100%;
}

.registerform {
	padding: 5% 0 5% 5%;
	width:95%;
	float:center;
}

/*.registerbutton {
	padding: 15.5% 5% 12.5% 0;
	width:47.5%;
	float:right;
}*/

.elsebutton {
	padding: 5% 10% 2.5% 10%;
	width:80%;
	clear:both;
}

.head {
	background-color:#FFFFFF;
	opacity:0.3;
}